.bh-card-badges{
   position: absolute; top: 10px; left:10px; padding: 2px; display: flex; flex-direction: column; gap: 1px;
}
.bh-card-badges .badge {
    font-size: 0.75rem;
    font-weight: 400 !important;
    padding: 0.4rem 0.8rem;
    letter-spacing: 0.5px;
    border-radius: 4px;
}

.bh-card-badges .badge {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}