/**
 * Card Component Styles
 */
.bh-card {
    border: 1px solid #e0e0e0;
    transition: var(--transition);
    cursor: pointer;
    background: #ffffff;
    height: 100%;
}

.bh-card:hover {
    border-color: var(--info-color);
}

.bh-card-image {
    overflow: hidden;
}

.bh-card-image img {
    width: 100%;
    transition: transform 0.3s ease;
}

.bh-card:hover .bh-card-image img {
    transform: scale(1.05);
}

.bh-card .card-body {
    padding: 1.5rem;
}

.bh-card .card-title {
    font-weight: 500;
    margin-bottom: 0.75rem;
    line-height: 1.3;
}

.bh-card .card-title a {
    color: var(--dark-color);
    text-decoration: none;
    transition: color 0.2s ease;
}

.bh-card .card-title a:hover {
    color: var(--info-color);
}

.bh-card-price {
    font-size: 1.12rem;
    font-weight: 500;
    color: var(--info-color);
}

.bh-card-specs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .7rem;
    font-size: 0.875rem;
}

.bh-card-specs .spec-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.bh-card-specs i {
    color: var(--primary-color);
}

.bh-card-footer {
    font-size: 0.875rem;
    line-height: 1.4;
}
.bh-card-footer {
}

/* Specific Card Type Variations */


.bh-card-lot {
  
}

.bh-card-floor-plan {
 
}
