/**
 * Card Component Styles
 */
.bh-card {
  border: 1px solid #e0e0e0;
  transition: var(--transition);
  cursor: pointer;
  background: #ffffff;
  height: 100%;
}

.bh-card:hover {
  border-color: var(--info-color);
}

.oi-aspect {
  position: relative;
  display: block;
  overflow: hidden;
}

.oi-aspect img.oi-aspect-img,
.oi-aspect iframe,
.oi-aspect .oi-aspect-target {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  object-fit: cover;
}

.bh-card .card-body {
  padding: 1.5rem;
}

.bh-card .card-title {
  font-weight: 500;
  margin-bottom: 0.75rem;
  line-height: 1.3;
}

.bh-card .card-title a {
  color: var(--dark-color);
  text-decoration: none;
  transition: color 0.2s ease;
}

.bh-card .card-title a:hover {
  color: var(--info-color);
}

.bh-card-price {
  font-size: 1.12rem;
  font-weight: 500;
  color: var(--info-color);
}

/* Card Specs Styles */
.bh-header-specs.bh-card-specs .spec-item i {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.bh-header-specs.bh-card-specs .spec-label {
  color: #263136;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
}

.bh-card .bh-header-specs {
  margin: 1rem auto;
  padding: 0;
  list-style: none;
}

.bh-card .spec-item i {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.separator {
  width: 1px;
  height: 100%;
  background-color: #e6e7e8;
}

/* .bh-header-specs .col-3:not(:last-child) {
  border-right: 1px solid #e6e7e8;
} */

.card .card-body hr {
  margin: 0.75rem auto;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-color: #e6e7e8;
  opacity: 1;
}

.bh-card-footer {
  font-size: 0.875rem;
  line-height: 1.4;
}

a.bh-card-footer-link {
  color: var(--dark-color);
  transition: color 0.2s ease;
}

a.bh-card-footer-link:hover {
  text-decoration: underline;
}

/* Specific Card Type Variations */

.bh-card-lot {}

.bh-card-floor-plan {}

.oi-aspect.sixteen-nine:before {
  padding-bottom: 56.25%;
}

.oi-aspect.one-one:before {
  padding-bottom: 100%;
}