.bh-header-specs {
    margin: 1.5rem auto 1.875rem;
    padding: 0;
    list-style: none;
}




.spec-item i {
    font-size: 1.3rem;
}

.spec-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .875rem;
    line-height: 1.3;
    font-weight: 500;
    text-align: center;
    gap: 10px;
}

.spec-label {
    margin-top: .5rem;
}

/* Card Specs Styles */